@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #999a9d;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

/* Form Container (with the colored background) */
#form-container {
  color: white;
  background-color: #38393c;
  border-radius: 15px;
  width: 400px;
  height: auto;
  padding-bottom: 20px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  margin: 5px 22px;
}

form input {
  padding: 10px 12px 6px;
  margin: 5px 0;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(154, 154, 154));
}

form select {
  padding: 5px 8px 0px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(154, 154, 154));
}

form textarea {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(154, 154, 154));
  padding: 10px 12px 6px;
  margin-top: 5px;
  height: 75px;
}

/* Form Button */
form button {
  border: none;
  outline: none;
  font-size: 25px;
  margin-top: 20px;
  background: -webkit-linear-gradient(
    rgba(82, 146, 13, 1) 0%,
    rgba(160, 204, 66, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Form Header 1 (Logo + Phone Number) */
#header-1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
  margin-top: 10px;
}

#header-1 img {
  width: auto;
  height: 50px;
  margin-top: 0px;
}

#header-1 h3 {
  font-size: 36px;
  background: -webkit-linear-gradient(90deg, rgba(82, 146, 13, 1), rgba(160, 204, 66, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 0 5px;
}

/* Form Header 2 (Logo + Phone Number) */
#header-2 {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 30px;
  padding: 0px 12px;
}

#header-2 img {
  width: auto;
  height: 50px;
  margin-top: 0px;
}

#header-2 h2 {
  font-size: 19px;
  font-weight: 500;
  margin: 0;
}

/* Demande Container */
#demande-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#demande-container select {
  width: 250px;
  margin: 5px 0 10px;
  height: 30px;
}

/* Besoin Container */
#besoin-container {
  display: flex;
  flex-direction: column;
}

/* Confirmation styling */
.confirm-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #38393c;
  padding: 15px 35px;
  border-radius: 15px;
  margin: 40px auto;
  width: fit-content;
  text-align: center;
  color: white;
}

.confirm-section h1 {
  font-size: 30px;
  background: -webkit-linear-gradient(90deg, rgba(82, 146, 13, 1), rgba(160, 204, 66, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.confirm-section a { 
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

.confirm-section a:hover { 
  text-decoration: underline;
}

#submit {
  font-weight: 900;
  cursor: pointer;
}